<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedit.acecenter.sysuser.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.hedit.acecenter.sysuser.entity.SysUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="CHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="idCard" column="id_card" jdbcType="CHAR"/>
            <result property="openId" column="open_id" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="gender" column="gender" jdbcType="CHAR"/>
            <result property="vip" column="is_vip" jdbcType="TINYINT"/>
            <result property="vipType" column="vip_type" jdbcType="CHAR"/>
            <result property="vipLevel" column="vip_level" jdbcType="INTEGER"/>
            <result property="enabled" column="is_enabled" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,nick_name,
        mobile,email,password,
        id_card,open_id,age,
        gender,is_vip,vip_type,
        vip_level,is_enabled,gmt_create,
        gmt_modified
    </sql>
</mapper>
